::-webkit-scrollbar-track {
    background-color: #121618;
  }
  
  ::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #121618;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0796EF;
  }